@model ERPWebApplication.Dao.PUPay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PUPay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            付款日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUPayDate)
        </dd>

        <dt>
            操作员
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatorCode)
        </dd>

        <dt>
            入库编号
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUInCode)
        </dd>

        <dt>
            入库日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUInDate)
        </dd>

        <dt>
            付款金额
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUMoney)
        </dd>

        <dt>
            账户类型
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountCode)
        </dd>

        <dt>
            付款人
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeCode)
        </dd>

        <dt>
            备注
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            审核状态
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFlag)
        </dd>

        <dt>
            供应商
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BSSupplier.SupplierName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("修改", "Edit", new { id = Model.PUPayCode }) |
    @Html.ActionLink("返回", "Index")
</p>
