@model ERPWebApplication.Dao.PUInStore

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>删除入库信息</h2>

<h3>你确定要删除这个吗？</h3>
<div>
    <h4>采购入库</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            入库日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUInDate)
        </dd>

        <dt>
            操作员
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatorCode)
        </dd>

        <dt>
            仓库编号
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreCode)
        </dd>

        <dt>
            存货编号
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvenCode)
        </dd>

        <dt>
            入库单价
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            入库数量
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            入库金额
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUMoney)
        </dd>

        <dt>
            单据编号
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUOrderCode)
        </dd>

        <dt>
            库管员
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeCode)
        </dd>

        <dt>
            审核状态
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFlag)
        </dd>

        <dt>
            供货商
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BSSupplier.SupplierName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回", "Index")
        </div>
    }
</div>
