@model ERPWebApplication.Dao.SEOutStore

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>删除</h2>

<h3>你确定要删除这个吗？</h3>
<div>
    <h4>删除出库记录</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            出库单日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEOutDate)
        </dd>

        <dt>
            操作员
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatorCode)
        </dd>

        <dt>
            单据编号
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEOrderCode)
        </dd>

        <dt>
            客户编号
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCode)
        </dd>

        <dt>
            出货仓库编号
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreCode)
        </dd>

        <dt>
            存货编号
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvenCode)
        </dd>

        <dt>
            出库单价
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            销售单价
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellPrice)
        </dd>

        <dt>
            出库数量
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            销售金额
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEMoney)
        </dd>

        <dt>
            收款人
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeCode)
        </dd>

        <dt>
            审核状态
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFlag)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回", "Index")
        </div>
    }
</div>
