@model ERPWebApplication.Dao.PUOrder
@{
    ViewBag.Title = "PUOrderMod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>采购订单编辑页面</h2>

<a href="/PU/Index">返回</a>

<form action="/PU/PUOrderSave" method="post">
    单据编号:<input type="text" name="PUOrderCode" value="@Model.PUOrderCode" /><br />
    单据日期:<input type="text" name="PUOrderDate" value="@Model.PUOrderDate" /><br />
    操作员:<input type="text" name="OperatorCode" value="@Model.OperatorCode" /><br />
    供应商:
    <select name="SupplierCode">
        @foreach (var item in ViewBag.BSSupplier)
        {
            <option value="@item.SupplierCode" @if (item.SupplierCode == Model.SupplierCode) { @Html.Raw("selected='selected'") }>@item.SupplierName</option>
        }
    </select><br />
    订货仓库编号:<input type="text" name="StoreCode" value="@Model.StoreCode" /><br />
    存货编号:<input type="text" name="InvenCode" value="@Model.InvenCode" /><br />
    采购单价:<input type="text" name="UnitPrice" value="@Model.UnitPrice" /><br />
    采购数量:<input type="text" name="Quantity" value="@Model.Quantity" /><br />
    采购金额:<input type="text" name="PUMoney" value="@Model.PUMoney" /><br />
    收货日期:<input type="text" name="RecInvenDate" value="@Model.RecInvenDate" /><br />
    采购员:<input type="text" name="EmployeeCode" value="@Model.EmployeeCode" /><br />
    审核状态:<input type="text" name="IsFlag" value="@Model.IsFlag" /><br />
    <input type="submit" value="提交"/>
    <a href="/PU/Index">返回</a>
    <input type="hidden" name="PUOrderCode" value="@Model.PUOrderCode" />
</form>
